.main{
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9); /* Lighten and make semi-transparent */
    width: 400px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Add shadow */
    color: #333; /* Darker text color */
    border-left: 2px solid #feb47b;
    border-bottom: 2px solid #5fdfff;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

input, mat-select {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #5fdfff; /* Use the theme color */
    font-size: 18px;
    padding: 10px;
    color: #333;
    transition: border-color 0.3s ease;
}

input:focus, mat-select:focus {
    border-bottom-color: #feb47b; /* Change border color on focus */
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.button{
    display: flex;
    justify-content: center;
}

button {
    font-size: 16px;
    padding: 13px;
    width: 200px;
    border-radius: 25px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(130deg, #5fdfff, #feb47b); /* Gradient button */
    border: 1px solid #388E3C;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(130deg, #feb47b, #5fdfff); /* Reverse gradient on hover */
    color: white;
    border: 1px solid #388E3C;
    transform: translateY(-3px); /* Slight lift on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}
